.hero__copy h4 {
    text-transform: uppercase;
    color: var(--color-primary);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 18px;
    margin: 0;
}

.info {
    display: block;
    height: 48rem;
    background-color: var(--color-primary);
}

.info__depoimento {
    display: grid;
    position: relative;
    justify-items: center;
    color: #000;
    top: 4.875rem;
}

.info__depoimento h2 {
    font-size: 3.125rem;
    margin-bottom: 0;
}

.info__depoimento h6 {
    margin: 0 0;
    margin-left: 18rem;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: 'montserrat';
}

.info__depoimento h3 {
    font-size: 83px;
    margin: 0;
}

.info__depoimento p {
    width: 36rem;
    text-align: center;
    margin: 0;
    margin-top: -2rem;
    padding-bottom: 8.75rem;
}